/* div>li {
    color: green;
    background-color: chocolate;
} */
.item {
    font-size: 24px;
    font-weight: bold;
}

/* module css  */
/* styled component */
/* thư viên CSS : boostrap, taiwind */
/* xlxs nối class css */

/* thư viện UI cung cấp các component : bootstrap, mui , antd */